body {
  margin: 0px;
}

canvas {
  background-color: lch(52.14% 32.25 194.25 / 0.709);
  margin: 20px;
}

img {
  display: https://t4.ftcdn.net/jpg/06/21/58/53/360_F_621585347_GATWJ061PptsBJqhGpSi6KWIFsxnYnCb.jpg;
}
